body {
  font-family: "Open Sans";
  margin-bottom: 15px;
}

.navbar {
  background: #772299;
  color: white;
  margin: 0;
  border-radius: 0;
}

.nav {
  float: right;
}

#avatar {
  width: 40px;
  border-radius: 40px;
}

.navbar-toggle .icon-bar {
  background-color: #F0F0F0;
}

.navbar-toggle:hover .icon-bar {
  background-color: white;
}

.nav a, .nav span {
  color: #F0F0F0;
  font-weight: bold;
  margin-left: 10px;
  font-size: 1.5em;
}
.nav a:hover {
  color: white;
}

#title {
  font-size: 2.5em;
  font-weight: bold;
}

#introContainer {
  background: #772299;
  color: white;
  padding-bottom: 25px;
}

.main {
  padding-top: 25px;
  text-align: center;
}

#pdf-file {
  display: inline;
}

#login img {
  height: 60px;
  margin-right: 15px;
}

#alerts {
  position: fixed;
  top: 10px;
  left: 0;
  right: 0;
}

.btn-file {
  overflow: hidden;
  position: relative;
}

.btn-file input[type=file] {
  position: absolute;
  bottom: 0;
  right: 0;
  min-height: 100%;
  min-width: 100%;
  font-size: 999px;
  text-align: right;
  opacity: 0;
  outline: none;
  background: none;
  cursor: inherit;
  display: block;
}

#repoList label {
  padding-top: 15px;
  padding-right: 15px;
}

.list-group-item {
  cursor: pointer;
}

.folder-icon {
  width: 20px;
  margin-right: 5px;
}

.fileList {
  margin: 25px;
}

.fileList .list-group-item.active {
  background-color: #772299 !important;
  border-color: #772299 !important;
}

.fileList .file-list-group-item {
  border: none;
}

.fileList .folder-list-group-item {
  border: none;
  border-bottom: 2px solid #ddd;
}

.instruction {
  display: none;
}