<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">


    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>edu.ncsu.dlf.servlet.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Repositories</servlet-name>
        <servlet-class>edu.ncsu.dlf.servlet.RepositoriesServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Repositories</servlet-name>
        <url-pattern>/repositories</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Tool</servlet-name>
        <servlet-class>edu.ncsu.dlf.servlet.ToolServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Tool</servlet-name>
        <url-pattern>/tool</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>FileUpload</servlet-name>
        <servlet-class>edu.ncsu.dlf.servlet.FileUploadServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>FileUpload</servlet-name>
        <url-pattern>/fileupload</url-pattern>
    </servlet-mapping>


    <static-files>
      <include path="/favicon.ico"></include>
    </static-files>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <listener>
        <listener-class>
            edu.ncsu.dlf.servlet.AmazonConnectionListener 
        </listener-class>
    </listener>
</web-app>
